apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-deployment
  namespace: default
  labels:
    app: goapp
spec:
  selector:
    matchLabels:
      app: goapp
  replicas: 2
  template:
    metadata:
      labels:
        app: goapp
    spec:
     containers:
      - name: go-container
        image: surajgomase/project2:{{.Values.image.tag}}
        ports:
        - containerPort: 8080

